@import
url('http://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
.banner {background: url(images/banner.jpg) no-repeat center center; background-size: cover; padding:150px; text-align: center; color: white; font-size: 22px; filter: shadow; border: 4px solid white; border-radius: 15px; font-family: 'Montserrat';}
.slogan {background-color: #ffefd5 !important; text-align: center !important; width: 100%; padding-right: 1px; padding-left: 1px; padding-top: 7rem; padding-bottom: 7rem; font-size: 19px; border-bottom: 4px solid white; border-left: 4px solid white; border-right: 4px solid white; border-radius: 15px;}
.row {display: flex; flex-wrap: wrap; margin-top: -1; max-width: 100%; padding-right: 3rem; padding-left: 3rem;}
.block_3 {flex: 0 0 auto; width: 33.3333333333333%;}
body {font-family: 'Montserrat', sans-serif; justify-content: center; align-items: center; font-weight: bold;}
h3 {color: #2a2525;}
p {color: #957170;}
h1 {font-size: 88px; }
h2{font-size: 40px; color: brown;}
h{color: #ffefd5;}
h4{color: darkgreen; font-size: 55px;}
.container{background: white; border: 1px solid lightyellow; border-radius: 8px; align-items: center;display: flex;width: 80%; margin: auto;padding: 15px;}
.left, .right {width: 50%;}
img {width: 80%; border-radius: 12px;}
.right {padding: 30px;}
a {text-decoration: none;}
.im{width: 25%; border: 2px solid white; display: flex;}
